.Cards{
    margin: 2rem;
    margin-top: 10rem;
    padding: 2rem;
    overflow: hidden;
    display: flex;
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

.card-image{
    width: 50%;
}
.card-image img{
    width: 100%;
    border-radius: 2rem;
}

.card-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 3rem 0 3rem;
    color: antiquewhite;
}

.card-title{
    margin: 3rem;
    font-size: 4rem;
    font-family: 'Exo 2', sans-serif;
    word-wrap: break-word;
}

.card-title a{
    text-decoration: none;
    color: antiquewhite;
}

.card-details{
    margin: 0 4rem 3rem;
    font-size: 1.5rem;
    text-align: justify;
}

.langs{
    margin-left: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.langs li{
    cursor: pointer;
    list-style: none;
    font-size: 1rem;
    margin: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    background-color: #0c4288;
}

.langs li:hover{
    transition: 0.25s;
    background-color: #0093a7;
}

.viewcode{
    margin: 2rem 3rem;
    font-size: 1.8rem;
    width: 15rem;
    height: 3rem;
    border-radius: 2rem;
    font-family: 'Roboto Mono', monospace;
    color: antiquewhite;
    background: black;
}

.viewcode:hover{
    cursor: pointer;
    color: black;
    background: antiquewhite;
    transition: .25s;
}

.view{
    font-size: 1.8rem;
    width: 15rem;
    height: 3rem;
    border-radius: 2rem;
    font-family: 'Roboto Mono', monospace;
}


@media only screen and (max-width: 768px) {
    .Cards{
        margin: 0;
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
    }

    .card-image{
        width: 100%;
    }

    .card-image img{
        width: 100%;
        border-radius: 2rem;
    }

    .card-info{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        color: antiquewhite;
    }

    .cards-title{
        padding: 0;
        margin-top: 3rem;
    }

    .card-details{
        margin: 0;
        margin-bottom: 3rem;
        padding: 0 2rem 0 2rem;
    }

    .langs{
        margin:0 0 2rem;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .langs li{
        margin: .5rem;
    }

    .viewcode{
        font-size: 1.5rem;
        width: 12rem;
        height: 3rem;
        border-radius: 2rem;
        font-family: 'Roboto Mono', monospace;
    }


}